.contents {
  @include flexCenter(column, center, center);
  background: white;
  width: 100%;

  .contentContainer {
    @include flexCenter(column, center, center);
    @include contentSize(100vw, 90vh);
    border: solid;
    display: none;
  }

  #homeContainer {
    display: flex;
  }

  .btnContainer {
    @include flexCenter(row, center, center);

    button {
      &.submit {
        @include defaultBtnStyle(white, red);
      }
      &.cancel {
        @include defaultBtnStyle(white, blue);
      }
      &.return {
        @include defaultBtnStyle(white, green);
      }
    }
  }
}
