@mixin flexCenter($direction, $align, $justify) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}
@mixin defaultBtnStyle($btnColor, $btnBgColor) {
  color: $btnColor;
  background-color: $btnBgColor;
  cursor: pointer;
  padding: 20px 15px;
  border-radius: 10px 20px 40px;
  border: none;
  outline: none;
  transform-origin: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.2s;
  margin: 20px;

  &:hover {
    opacity: 0.7;
    transform: scale(1.2);
  }
  &:active {
    opacity: 0.5;
    color: $btnBgColor;
    background-color: $btnColor;
    border: solid 1px black;
    transform: scale(0.9);
  }
}

@mixin square($width, $height, $borderRadius) {
  width: $width;
  height: $height;
  border-radius: $borderRadius;
}

@mixin iconHoverActive() {
  &:active {
    font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 20;
    transform: scale(0.9);
  }
}

@mixin defaultHoverActive($bgColor, $scale) {
  &:hover {
    background-color: $bgColor;
  }
  &:active {
    transform: scale($scale);
  }
}

@mixin contentSize($width, $height) {
  width: $width;
  height: $height;
}
