nav {
  @include flexCenter(row, center, space-between);
  position: fixed;
  background-color: rgb(180, 180, 180);
  left: 0;
  right: 0;
  top: 0;

  .leftNav {
    @include flexCenter(row, center, center);
    margin: 5px 50px;

    .leftNavIcon {
      @include defaultHoverActive(rgba(0, 0, 0, 0.26), 0.9);
      font-size: 70px;
      cursor: pointer;
      border-radius: 10px;
      transition: transform 0.1s;

      &:active {
        @include iconHoverActive;
      }
    }
  }

  .rightNav {
    @include flexCenter(row, center, end);
    flex: 1;
    min-width: 500px;
    margin-right: 50px;

    ul {
      @include flexCenter(row, center, end);
    }
    li {
      @include flexCenter(column, center, center);
      @include defaultHoverActive(rgba(0, 0, 0, 0.26), 0.9);
      margin-right: 5px;
      list-style: none;
      border-radius: 10px;

      .rightNavIcon {
        font-size: 50px;
        transition: transform linear 0.1s;
        cursor: pointer;
        padding: 10px;

        &:active {
          @include iconHoverActive;
        }
      }

      .toolTip {
        position: absolute;
        bottom: -30px;
        color: gray;
        font-size: 20px;
        text-transform: uppercase;
        opacity: 0;
        transition: opacity 0.2s linear;
      }
    }
  }
}
