nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  background-color: rgb(180, 180, 180);
  left: 0;
  right: 0;
  top: 0;
}
nav .leftNav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 5px 50px;
}
nav .leftNav .leftNavIcon {
  font-size: 70px;
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.1s;
}
nav .leftNav .leftNavIcon:hover {
  background-color: rgba(0, 0, 0, 0.26);
}
nav .leftNav .leftNavIcon:active {
  transform: scale(0.9);
}
nav .leftNav .leftNavIcon:active:active {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 20;
  transform: scale(0.9);
}
nav .rightNav {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
  flex: 1;
  min-width: 500px;
  margin-right: 50px;
}
nav .rightNav ul {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: row;
}
nav .rightNav li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 5px;
  list-style: none;
  border-radius: 10px;
}
nav .rightNav li:hover {
  background-color: rgba(0, 0, 0, 0.26);
}
nav .rightNav li:active {
  transform: scale(0.9);
}
nav .rightNav li .rightNavIcon {
  font-size: 50px;
  transition: transform linear 0.1s;
  cursor: pointer;
  padding: 10px;
}
nav .rightNav li .rightNavIcon:active:active {
  font-variation-settings: "FILL" 1, "wght" 200, "GRAD" 0, "opsz" 20;
  transform: scale(0.9);
}
nav .rightNav li .toolTip {
  position: absolute;
  bottom: -30px;
  color: gray;
  font-size: 20px;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  width: 100%;
}
.contents .contentContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  border: solid;
  display: none;
}
.contents #homeContainer {
  display: flex;
}
.contents .btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.contents .btnContainer button.submit {
  color: white;
  background-color: red;
  cursor: pointer;
  padding: 20px 15px;
  border-radius: 10px 20px 40px;
  border: none;
  outline: none;
  transform-origin: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.2s;
  margin: 20px;
}
.contents .btnContainer button.submit:hover {
  opacity: 0.7;
  transform: scale(1.2);
}
.contents .btnContainer button.submit:active {
  opacity: 0.5;
  color: red;
  background-color: white;
  border: solid 1px black;
  transform: scale(0.9);
}
.contents .btnContainer button.cancel {
  color: white;
  background-color: blue;
  cursor: pointer;
  padding: 20px 15px;
  border-radius: 10px 20px 40px;
  border: none;
  outline: none;
  transform-origin: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.2s;
  margin: 20px;
}
.contents .btnContainer button.cancel:hover {
  opacity: 0.7;
  transform: scale(1.2);
}
.contents .btnContainer button.cancel:active {
  opacity: 0.5;
  color: blue;
  background-color: white;
  border: solid 1px black;
  transform: scale(0.9);
}
.contents .btnContainer button.return {
  color: white;
  background-color: green;
  cursor: pointer;
  padding: 20px 15px;
  border-radius: 10px 20px 40px;
  border: none;
  outline: none;
  transform-origin: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.2s;
  margin: 20px;
}
.contents .btnContainer button.return:hover {
  opacity: 0.7;
  transform: scale(1.2);
}
.contents .btnContainer button.return:active {
  opacity: 0.5;
  color: green;
  background-color: white;
  border: solid 1px black;
  transform: scale(0.9);
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-transform: uppercase;
}

body {
  padding-top: 80px;
  height: 100vh;
  background: rgb(194, 196, 194);
}/*# sourceMappingURL=main.css.map */