@import "./mixins";
@import "./nav";
@import "./contents";

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  text-transform: uppercase;
}
body {
  padding-top: 80px;
  height: 100vh;
  background: rgb(194, 196, 194);
}
